<div id='main' class='container'>
	<h1>Welcome!</h1>
	<h4>
		<p>This is just a study case / test of skills around bootstrap and angular.js.</p>
		<p>All the data is saved on your browser localStorage, so it's only persistence while you don't mess with it.</p>		
	</h4>

	<h1 style='margin-top:30px'>So... another CRUD?</h1>
	<h4>
		<p>What was the last crud you stumbled upon that allowed you to <a href='/#!/tableAdd/'><b>create tables</b></a> and used no server side whatsoever?</p>
		<p>I'm not saying this is worse or better than anything else out there. My goal was simply to create something <b>interesting</b>.
	</h4>

	<h3 style='padding-top:10px'>
		<p>Enjoy ;)</p>
	</h3>
</div>
